.Input {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    font-weight: bold;
    width: 100%; 
}

.input-group {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    width: 100%; 
    margin: 20px;
}

.input-group input {
    width: 100%; 
    box-sizing: border-box; 
}

.label {
    font-size: 20px;
    font-weight: lighter;
    color: red;  
    display: block; 
    margin: 20px;
}

@media (max-width: 767px) {
    .Input {
        padding: 0; 
    }

    .input-group {
        margin: 0; 
    }

    .input-group input {
        margin: 0; 
    }
}

@media (min-width: 768px) {
    .Input {
        flex-direction: row;
    }

    .input-group {
        flex-direction: row; 
        gap: 20px; 
    }
}