.radio-group {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-evenly;
    margin: 20px; 
}

.radio-label {
    display: flex; 
    align-items: center; 
    width: calc(25% - 20px); 
    margin: 10px; 
    padding: 10px; 
    background-color:  rgb(7, 54, 23); 
    border: none; 
    
}



.radio-label input {
    margin-right: 10px; 
}

@media (max-width: 768px) {
    .radio-label {
        width: 100%; 
        margin: 5px 0;
    }
}